*{
    padding: 0px;
    margin: 0px auto;
    /* outline: 1px dotted red; */
}

.container{
    width: 800px;
    height: auto;
    background-color: #D5D2AE;
    padding: 40px;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header img{
    width: 100px;
    height: 50px;
}

.header h1{
    margin: 0px -160px;
}
.header .white{
    width: 95px;
    height: 40px;
    background-color: white;
    padding: 5px;
}

.main-content{
    width: 750px;
    margin-left: 70px;
}

.main-content img{
    display: inline-block;
    border: 3px solid black;
}

.main-content .red{
    background-color: #F36870;
    width: 120px;
    height: 120px;
}

.main-content .blue{
    width: 100px;
    height: 100px;
    background-color: #82B4EE;
    padding: 10px;
}


